@page
<br />
<br />
<br />


<div class="p-3 mb-2 bg-secondary text-black rounded border border-primary">
    <h2 class="title">Bem Vindo a área de Consultas do Blog Mais Saúde</h2>
<div class="container ">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2" id="texto">Insira seu Nome:</div>
            <div class="col-4"><input id="userInput" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="row my-1">
            <div class="col-2" id="texto">Digite sua Mensagem:</div>
            <div class="col-4"><input id="messageInput" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6 mx-5">
            <input class="btn btn-primary" type="button" id="sendButton" value="Enviar Mensagem" />
        </div>
    </div>
</div>
<br />
</div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row" id="test">
    <div class="">
        <ul id="messagesList"></ul>
    </div>
</div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>